@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
.animation-simmer{
    background-size: 200% 100%;
    animation: shimmer 1s infinite line;
}